**/__pycache__
**/.DS_Store
**/*.db
**/*.ipynb
/.coverage
/.git
/.pytest_cache
/.pdm-python
/.ruff_cache
/.tests
/.venv
/.yarn
/build
/coverage.xml
/dist
/Dockerfile
/htmlcov
/jupyter/lab
/jupyter/migrated
/kernel
/labextension
/node_modules
!/tests/x.db
!/tests/x/**/*.ipynb
