__pycache__
.DS_Store
*.db
*.html
*.ipynb
/.coverage
/.pytest_cache
/.pdm-python
/.ruff_cache
/.tests
/.venv
/.yarn
/build
/coverage.xml
/dist
/htmlcov
/jupyter/lab
/jupyter/migrated
/kernel
/labextension
/node_modules
/test-results
!/tests/x.db
!/tests/x/*.ipynb
